body{

    background-color: #222222;

}

#setName{

    width:300px;

}

#bracketGeneration{

    display: none;
    
}

.characterCheckbox{

    display: none;

}

input[type="checkbox"]:checked + label {

    color: white;

}

input[type="checkbox"] + label {

    color: black;

}

.red{

    color: red;

}

.green{

    color: green;

}

.blue{

    color: blue;

}